@import '~mdbootstrap/css/bootstrap.css';
@import '~mdbootstrap/css/mdb.min.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import '~highlight.js/styles/atom-one-light.css';

html, body {
  height: 100%;
}

#editor-container {
  height: 375px;
}

body.bg1 {
        background-color: #F7F7F7;
            }

.bgw {
    background: white;
}

a.lang img{
height: 40px;
    width: 34px;
}

.tutorialModal, .tut-modal {
    z-index: 10002;
}

.tut-0-step-active .tut-0-step,
.tut-1-step-active .tut-1-step,
.tut-2-step-active .tut-2-step,
.tut-3-step-active .tut-3-step,
.tut-4-step-active .tut-4-step,
.tut-5-step-active .tut-5-step,
.tut-6-step-active .tut-6-step ,
.tut-7-step-active .tut-7-step,
.tut-8-step-active .tut-8-step {
    z-index: 10001;
    background: #fff;
    border-radius: 6px;
    position: relative;
}

.tut-active #shade {
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
}

@media (max-width: 576px)  {
.tut-modal:not(.top-modal){
    position:fixed;
   top:auto;
   right:auto;
   left:auto;
   bottom:0;
   height: auto;
}
}

.check-code {
    position: fixed;
    right: 10000px;
}
